include COPYING rdiff-web rdiff-web-config rdw.conf.sample init/rdiff-web
include rdiffWeb/templates/*.html
include rdiffWeb/templates/*.xml
include rdiffWeb/templates/*.txt
include rdiffWeb/static/*.png 
include rdiffWeb/static/*.css 
include rdiffWeb/static/*.js
include rdiffWeb/static/images/*
include rdiffWeb/*.py
