<h2>Admin Panel</h2>
<p>
   <a href="/">Backup Locations</a>
</p>
<h3>Users</h3>
<table>
<!--StartRepeat:users-->
   <tr>
      <td>^username$</td>
      <td><a href="/admin/editUser?user=^username$">Edit User</a></td>
      <td><a href="/admin/deleteUser?user=^username$" onClick="if(!confirm('Are you sure that you wish to delete user ^username$?')) return(false) ">Delete User</a></td>
      <td><a href="/admin/changePassword?user=^username$">Change Password</a></td>
      <td><a href="/admin/updateRepos?user=^username$">Find and update repositories</a></td>
   </tr>
<!--EndRepeat:users-->
</table>
<br>
<a href="^addUserUrl$">Add User</a>
