<!--StartDelete-->
<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
</head>
<body>
<!--EndDelete-->
<script type="text/javascript" language="javascript" src="/static/revisions_popup.js"></script>

<h2>^title$</h2>
<p>
   <!--StartRepeat:parentDirs--> / <!--StartIncludeIf:parentPath--><a href=^parentPath$><!--EndIncludeIf:parentPath-->^parentDir$<!--StartIncludeIf:parentPath--></a><!--EndIncludeIf:parentPath--><!--EndRepeat:parentDirs-->
</p>
<p>
<!--StartIncludeIf:restoreUrl--><a class="viewFolder_link" href="^restoreUrl$">Download folder contents as zip file</a><!--EndIncludeIf:restoreUrl-->
<!--StartIncludeIf:viewUrl--><a class="viewFolder_link" href="^viewUrl$">View folder contents</a><!--EndIncludeIf:viewUrl-->
</p>

<!--StartIncludeIf:warning-->
<p class="warning">
   ^warning$
</p>
<!--EndIncludeIf:warning-->

<!--StartIncludeIf:restoreUrl-->
<table id="PopupTable">
<thead>
   <tr>
      <td>Name</td>
      <td>Size</td>
      <td>Last Revision</td>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:files-->
   <!--StartIncludeIf:exists--><tr><!--EndIncludeIf:exists--><!--StartDeleteIf:exists--><tr style="color: #999" ><!--EndDeleteIf:exists-->
      <td><a href="^fileRestoreUrl$">^filename$</a></td>
      <td>^size$</td>
      <td>^date$</td>

      <!--StartIncludeIf:hasPrevRevisions-->
   <!-- ENTRIES WITH REVISIONS -->
      <td>
         <a class="PopupLink" href="javascript:void 0">Previous Revisions</a>
      </td>
      <td class="FlyoutContainer">
         <div>
         <table>
            <!--StartRepeat:changeDates-->
               <tr><td><a href="^changeDateUrl$">^changeDateStr$</a></td></tr>
            <!--EndRepeat:changeDates-->
         </table>
         </div>
      </td>
      <!--EndIncludeIf:hasPrevRevisions-->
      <!--StartIncludeIf:showNoRevisionsText-->
   <!-- ENTRIES WITH NO REVISIONS -->
      <td class="FlyoutContainer">
         No Previous Revisions
      </td>
      <!--EndIncludeIf:showNoRevisionsText-->
      </tr>
   <!--EndRepeat:files-->
</tbody>
</table>
<!--EndIncludeIf:restoreUrl-->

<!--StartIncludeIf:viewUrl-->
<table>
<thead>
   <tr>
      <td>Choose a backup date to restore as of:</td>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:restoreDates-->
   <tr>
      <td><a href="^dirRestoreUrl$">^dateStr$</a></td>
   </tr>
   <!--EndRepeat:restoreDates-->
</tbody>
</table>
<!--EndIncludeIf:viewUrl-->
