<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
   <script type="text/javascript">
      window.onload = function()
      {
         document.getElementById('username').focus();
      };
   </script>
</head>
<body>
<div id="NavBar">
   <div id="logo">rdiffWeb</div>
</div>
<br/>

<!--StartDeleteIf:message--><p>Enter your username and password to log in:</p><!--EndDeleteIf:message-->
<!--StartIncludeIf:message-->
   <p class="warning">^message$</p>
<!--EndIncludeIf:message-->
   <form method="post" action="^action$">
     Username: <input type="text" name="^loginKey$" value="^loginValue$" size="20" id="username" /><br/>
     Password: <input type="password" name="^passwordKey$" size="20"/><br/>
     <input type="hidden" name="^redirectKey$" value="^redirectValue$"/><br/>
     <input type="submit" value="Log In" />
     </form>
</body></html>

