<!--StartDelete-->
<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
</head>
<body>
<!--EndDelete-->

<!--StartIncludeIf:notificationsEnabled-->
<script type="text/javascript" language="javascript">

var backupData = {
<!--StartRepeat:backups-->
"^backupName$" : ^maxDays$,
<!--EndRepeat:backups-->
}

window.onload = function()
{
   for (i in backupData)
   {
      droplist = document.getElementById(i+"Select");
      droplist.selectedIndex = backupData[i]
   }
}
</script>
<!--EndIncludeIf:notificationsEnabled-->

<h2>User Preferences</h2>
<p>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->
<form action="changePassword" method="post">
<div class="groupboxDiv">
<h3 class="groupboxHeader">Change Password</h3>
<table>
<tr>
   <td>Current Password:</td>
   <td><input class="textInput" type="password" name="currentPassword"/></td>
</tr>
<tr>
   <td>New Password:</td>
   <td><input class="textInput" type="password" name="newPassword"/></td>
</tr>
<tr>
   <td>Confirm New Password:</td>
   <td><input class="textInput" type="password" name="confirmPassword"/></td>
</tr>
<tr>
   <td style="height: 2em"> <input class="groupboxButton" type="submit" value="Change Password" /></td>
</tr>
</table>
</div>
</form>


<h3>Update Backup Locations</h3>
<form action="updateRepos" method="post">
<input type="submit" class="groupboxButton" value="Find and Update Backup Locations" />
</form>

<!--StartIncludeIf:notificationsEnabled-->
<form action="setNotifications" method="post">
<div class="groupboxDiv">
<h3 class="groupboxHeader">Backup Notifications</h3>
   <table class="emailTable">
      <tr>
         <td>Notify me at</td>
         <td><input class="textInput" name="userEmail" value="^userEmail$"></td>
         <td align="left">
            when my backups do not get backed up for:
         </td>
      </tr>
   </table>
   <table class="notificationsTable">
      <tr></tr>
      <!--StartRepeat:backups-->
      <tr class="notificationsRow">
         <td>^backupName$ : </td>
         <td>
            <select name="^backupName$numDays" id="^backupName$Select">
               <option selected>Don't notify
               <option>1 day
               <option>2 days
               <option>3 days
               <option>4 days
               <option>5 days
               <option>6 days
               <option>7 days
            </select>
         </td>
      </tr>
      <!--EndRepeat:backups-->
      <tr style="height: 2em">
         <td><input type="submit" class="groupboxButton" value="Change Notifications" /></td>
      </tr>
   </table>
</div>
</form>
<!--EndIncludeIf:notificationsEnabled-->
