<!--StartDelete-->
<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
</head>
<body>
<!--EndDelete-->
<link rel="stylesheet" href="../static/prefs.css" type="text/css" />
<script type="text/javascript" src="../static/prefs.js"></script>

<h2>User Preferences</h2>
<p>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->
<form action="" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
<h3 class="groupboxHeader">Change Password</h3>
<table>
<tr>
   <td>Current Password:</td>
   <td><input type="password" name="current"/></td>
</tr>
<tr>
   <td>New Password:</td>
   <td><input type="password" name="new"/></td>
</tr>
<tr>
   <td>Confirm New Password:</td>
   <td><input type="password" name="confirm"/></td>
</tr>
<tr>
   <td style="height: 2em">
      <button type="submit" name="form" value="setPassword">Change Password</button>
   </td>
</tr>
</table>
</div>
</div>
</form>


<form action="" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
<h3 class="groupboxHeader">Update Backup Locations</h3>
<button type="submit" name="form" value="updateRepos">Find and Update Backup Locations</button>
</div>
</div>
</form>

<form action="" method="post">
<div class="groupboxDiv">
   <div class="roundedBorderContents">
      <h3 class="groupboxHeader">Directory Restore Format</h3>
         <label><input type="radio" name="restoreType" StartIncludeIf:useZipFormat- checked='checked' EndIncludeIf:useZipFormat- value="zip">
                </input>Restore my directories in <b>.zip</b> format</label>
      <br/>
         <label><input type="radio" name="restoreType" StartDeleteIf:useZipFormat- checked='checked' EndDeleteIf:useZipFormat- value="tgz">
                </input>Restore my directories in <b>.tar.gz</b> format</label>
      <br/><br/>
         (If unsure, select the .zip format.)
      <br/>
      <button type="submit" name="form" value="setRestoreType">Update Restore Preferences</button>
   </div>
</div>
</form>

<!--StartIncludeIf:notificationsEnabled-->
<form action="" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
   <h3 class="groupboxHeader">Backup Notifications</h3>
   <div>Send an email to <input id="userEmail" type="text" name="userEmail" value="^userEmail$"> when:</div>
   <div class="NotifyGrouping">
      <label><input StartIncludeIf:notifyForAny- checked="on" EndIncludeIf:notifyForAny-
                  type="radio" name="NotifyType" value="any"/> any backup does not complete for</label>
      <select name="AllReposInterval">
         <!--StartRepeat:notifyOptions-->
         <option StartIncludeIf:optionSelected- selected EndIncludeIf:optionSelected- value="^optionValue$">^optionDesc$</option>
         <!--EndRepeat:notifyOptions-->
      </select>
   </div>
   <div class="NotifyGrouping">
      <label><input StartDeleteIf:notifyForAny- checked="on" EndDeleteIf:notifyForAny-
                  type="radio" name="NotifyType" value="specific"/> the following backups do not complete for:</label>
      <table class="notificationsTable">
         <!--StartRepeat:notifyRepos-->
         <tr class="notificationsRow">
            <td>^repoName$ : </td>
            <td>
               <select name="^repoID$">
                  <!--StartRepeat:notifyOptions-->
                  <option StartIncludeIf:optionSelected- selected EndIncludeIf:optionSelected- value="^optionValue$">^optionDesc$</option>
                  <!--EndRepeat:notifyOptions-->
               </select>
            </td>
         </tr>
         <!--EndRepeat:notifyRepos-->
      </table>
   </div>
      <button type="submit" name="form" value="setNotifications">Change Notifications</button>
   </div>
</div>
</div>
</form>
<!--EndIncludeIf:notificationsEnabled-->

<form action="" method="post">
<div class="groupboxDiv">
   <div class="roundedBorderContents">
      <h3 class="groupboxHeader">Backup Modification</h3>
         <label><input type="checkbox" name="allowDeletion"
		StartIncludeIf:allowRepoDeletion- checked='checked' EndIncludeIf:allowRepoDeletion->
                </input>Allow me to modify/delete my backups.</label>
      <br/>
      <button type="submit" name="form" value="setAllowRepoDeletion">Update</button>
   </div>
</div>
</form>
