body
{
   font-family: sans-serif;
}
#NavBar
{
      float: right;
      background-color: silver;
      padding: 0.25em;
      border: 1px solid gray;
}
#Content
{
   margin: 1em;
}

/* all tables have padding by default */
table thead
{
   text-align: center;
   font-weight: bold;
}

table td
{
   padding-right: 2em
}

/* disable padding on flyouts */
td.FlyoutContainer,
td.FlyoutContainer td
{
   padding-right: 0em;
}

td.FlyoutContainer div
{
   display:none;
   position: absolute;
   float:right;
   color: black;
   background-color: silver;border: 1px solid gray;
}

.backupStatus_success
{
   color: green;
}
.backupStatus_failure
{
   color: red;
}

.warning
{
   color: red
}

