body
{
   font-family: sans-serif;
   padding: 0;
}

a
{
   text-decoration: none;
   color: blue;
}
a:hover
{
   text-decoration: underline;
}

input[type=text],
input[type=password]
{
   font-size: 100%;
   border: 2px solid #CCC;
   width: 17em;
   margin: 0.25em 0 0 0.25em;
}

#NavBar .roundedBorderBackground,
#NavBar .roundedBorderContents
{
   background-color: #ccc;
}

#NavBar 
{
      float: right;
      padding: 0.25em;
}
#logo
{
   font-size: 200%;
   font-family: "Arial" sans-serif;
   font-weight: bold;
   text-align: center;
}
#logo a:link,
#logo a:hover,
#logo a:visited
{
   color: black;
   text-decoration: none;
}
#NavLinks
{
   text-align: center;
}
#Content
{
   margin: 1em;
}

/* all tables have padding by default */
table thead
{
   text-align: left;
   font-size: 14pt;
   font-weight: bold;
   background-color: #DCE4F9;
   border-bottom: 2px solid #F5F5F5;
}

table td
{
   padding: 0.25em 2em 0.25em 0em;
   vertical-align: bottom;
   font-size: 12pt;
}

/* Lightboxes */
#LightboxBackground
{
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0.6;
   filter: alpha(opacity=60);
   top: 0;
   left: 0;
   display: none;
   z-index: 10;
   margin: 0;
}
#LightboxForeground
{
   text-align: center;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   display: none;
   z-index: 11;
}
#LightboxCenterer
{
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
}
#LightboxContents
{
   background-color: #FFF;
   padding: 1em;
   max-width: 30em;
}
table#LightboxCenterer .roundedBorderBackground
{
   background-color: #FFF;
}
table#LightboxCenterer .roundedBorderBackground
{
   background-color: #FFF;
}
table#LightboxCenterer .xb2,
table#LightboxCenterer .xb3,
table#LightboxCenterer .xb4,
table#LightboxCenterer .roundedBorderInner
{
   border-color: #000;
}
table#LightboxCenterer .xb1
{
   background-color: #000;
}
#LightboxButtonsContainer
{
   text-align: center;
   margin-top: 1em;
}
#LightboxButtonsContainer button
{
   margin-left: 0.5em;
   margin-right: 0.5em;
}

.error
{
   color: red;
}
.message
{
   color: green;
}

/* Listing pages */
td.PopupLinkCell,
td.PopupLinkCell td
{
   padding-right: 0em;
   text-align: right;
}

.altRow td
{
   background-color: #EFEFEF;
}

.altRow .FlyoutContainer td
{
   background-color: silver;
}

table
{
   border-collapse: collapse;
}

/* disable padding on icons and flyouts */
td.Icon,
td.FlyoutContainer,
td.FlyoutContainer td
{
   padding-right: 0em;
}

table td.Icon
{
   padding-top: 0em;
   padding-bottom: 0em;
   vertical-align: middle;
}

td.Icon img
{
   height: 22px;
   width: 22px;
}

td.FlyoutContainer div
{
   display:none;
   position: absolute;
   float:right;
   color: black;
   background-color: silver;
   border: 1px solid gray;
   padding: .25em;
}

div#incrementSizePopup
{
   color: black;
   background-color: #E8EEFA;
   font-weight: normal;
   text-align: left;
   width: 40em;
   padding: 0.5em;
}

/* Login page */
table.Login td
{
   padding: 0;
   padding-right: .5em;
}

#Login
{
   background-color: #E8EEFA;
   color: #000;
   spacing: 0.5em;
   float: left;
   border: 10px double white;
}

#Login input.submit
{
   background-image: url("/static/images/login_button.gif");
   border: 0em;
   width: 100px;
   height: 30px;
   color: #FFF;
   font-weight: bold;
}


/* Status Page */
.backupStatus_success,
.backupStatus_success a:link,
.backupStatus_success a:visited
{
   color: green;
   text-decoration: none;
}
.backupStatus_failure,
.backupStatus_failure a:link,
.backupStatus_failure a:visited
{
   color: red;
   text-decoration: none;
}
.statusRepoLink
{
   color: black;
}

h1,
h2,
h3,
table thead
{
   color: #3162a6;
}

.groupboxHeader
{
   margin-top: 0px;
}

.groupboxButton
{
}

input[type=submit]
{
   margin-top: 0.75em;
}

/* Admin page */
table.usersTable
{
   border-collapse: collapse;
}

table.usersTable td
{
   vertical-align: top;
   /*text-align: right;*/
   border-bottom: 1px solid #ccc;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-right: 1em;
}

table.usersTable tr.userEditingRow td
{
   border-bottom: 0px;
}

table.usersTable tr.notEditingRow,
table.usersTable tr.notChangingPasswordRow
{
   display: none;
}
table.usersTable tr.editingRow,
table.usersTable tr.changingPasswordRow
{
}
