body
{
   font-family: sans-serif;
}

a
{
   text-decoration: none;
}

#NavBar .roundedBorderBackground,
#NavBar .roundedBorderContents
{
   background-color: #ccc;
}

#NavBar 
{
      float: right;
      padding: 0.25em;
}
#logo
{
   font-size: 200%;
   font-family: "Arial" sans-serif;
   font-weight: bold;
   text-align: center;
}
#logo a:link,
#logo a:hover,
#logo a:visited
{
   color: black;
   text-decoration: none;
}
#Content
{
   margin: 1em;
}

/* all tables have padding by default */
table thead
{
   text-align: center;
   font-weight: bold;
}

table td
{
   padding-right: 2em;
}

/* Browse page */
td.PopupLinkCell,
td.PopupLinkCell td
{
   padding-right: 0em;
   text-align: right;
}

/* disable padding on icons and flyouts */
td.Icon,
td.FlyoutContainer,
td.FlyoutContainer td
{
   padding-right: 0em;
}

td.FlyoutContainer div
{
   display:none;
   position: absolute;
   float:right;
   color: black;
   background-color: silver;
   border: 1px solid gray;
}

div#incrementSizePopup
{
   color: black;
   background-color: #E8EEFA;
   font-weight: normal;
   text-align: left;
   width: 40em;
   padding: 0.5em;
}

/* Login page */
table.Login td
{
   padding-right: .5em;
}

#Login
{
   background-color: #E8EEFA;
   color: #000;
   spacing: 0.5em;
   float: left;
   border: 10px double white;
}



.backupStatus_success,
.backupStatus_success a:link,
.backupStatus_success a:visited
{
   color: green;
   text-decoration: none;
}
.backupStatus_failure,
.backupStatus_failure a:link,
.backupStatus_failure a:visited
{
   color: red;
   text-decoration: none;
}

/* Prefs page */
p.warning,
p.error
{
   color: red
}

p.message
{
   color: green
}

table.emailTable td
{
   vertical-align: top;
   padding-right: 0.5em;
   text-align: right;
}

tr.notificationsRow td
{
   border-top:1px solid #ccc;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-right: 1em;
}

.groupboxDiv
{
   display: table-cell;
}
.groupboxDiv .roundedBorderBackground
{
   background-color: #FFF;
}

h2,
h3,
table thead
{
   color: #3162a6;
}

input.textInput
{
   width: 17em;
}

.groupboxHeader
{
   margin-top: 0px;
}

.groupboxButton
{
}

/* Admin page */

table.usersTable td
{
   vertical-align: top;
   text-align: right;
   border-bottom:1px solid #ccc;
   padding-bottom: 5px;
   padding-top: 5px;
   padding-right: 1em;
}
