<!--StartDelete-->
<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
</head>
<body>
<!--EndDelete-->

<h2>User Preferences</h2>
<p>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->
<form action="changePassword" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
<h3 class="groupboxHeader">Change Password</h3>
<table>
<tr>
   <td>Current Password:</td>
   <td><input class="textInput" type="password" name="currentPassword"/></td>
</tr>
<tr>
   <td>New Password:</td>
   <td><input class="textInput" type="password" name="newPassword"/></td>
</tr>
<tr>
   <td>Confirm New Password:</td>
   <td><input class="textInput" type="password" name="confirmPassword"/></td>
</tr>
<tr>
   <td style="height: 2em"> <input class="groupboxButton" type="submit" value="Change Password" /></td>
</tr>
</table>
</div>
</div>
</form>


<form action="updateRepos" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
<h3 class="groupboxHeader">Update Backup Locations</h3>
<input type="submit" class="groupboxButton" value="Find and Update Backup Locations" />
</div>
</div>
</form>

<!--StartIncludeIf:notificationsEnabled-->
<form action="setNotifications" method="post">
<div class="groupboxDiv">
<div class="roundedBorderContents">
<h3 class="groupboxHeader">Backup Notifications</h3>
   <table class="emailTable">
      <tr>
         <td>Notify me at</td>
<!--StartIncludeIf:userEmail-->
         <td><input class="textInput" name="userEmail" value="^userEmail$"></td>
<!--EndIncludeIf:userEmail-->
<!--StartDeleteIf:userEmail-->
         <td><input class="textInput" name="userEmail" style="color: #aaa" value="joe@example.com" onfocus="javascript: if(this.value='joe@example.com') { this.value=''; this.style.color = '#000'; };"></td>
<!--EndDeleteIf:userEmail-->
         <td align="left">
            when my backups do not get backed up for:
         </td>
      </tr>
   </table>
   <table class="notificationsTable">
      <tr></tr>
      <!--StartRepeat:backups-->
      <tr class="notificationsRow">
         <td>^backupName$ : </td>
         <td>
            <select name="^backupName$numDays" id="^backupName$Select">
               <!--StartRepeat:notifyOptions-->
               <option ^selectedStr$>^optionStr$</option>
               <!--EndRepeat:notifyOptions-->
            </select>
         </td>
      </tr>
      <!--EndRepeat:backups-->
      <tr style="height: 2em">
         <td><input type="submit" class="groupboxButton" value="Change Notifications" /></td>
      </tr>
   </table>
</div>
</div>
</form>
<!--EndIncludeIf:notificationsEnabled-->
